*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    
}
.container{
    display: grid;
    width: 900px;
    max-width: 100%;
    margin: 10px auto;
    padding: 10px;
    background-color: bisque;
    grid-template-columns: repeat(3,1fr);
    border: none;
    border-radius: 5px;
    grid-gap: 5px;
    grid-auto-rows: minmax(100px,auto);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.item{
    max-width: 100%;
    border: 2px solid #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    text-align: center;
    line-height: 100px;
}
.item-1{
    background-color: aquamarine;
    grid-column: 1;
    grid-row: 1;
    
}
.item-2{
    background-color: blueviolet;
    grid-column: 2/4;
    grid-row: 1/3;
}
.item-3{
    background-color: coral;
    grid-row: 2/5;
    grid-column: 1;
}
.item-4{
    background-color: cadetblue;
    grid-column: 2/4;
    grid-row: 3;
}
.item-5{
    background-color: rgb(65, 42, 212);
    grid-row: 4;
    grid-column: 2;
}
.item-6{
    background-color: rgb(61, 226, 77);
    grid-row: 4;
    grid-column: 3;
    
}
.item-7{
    background-color: rgb(221, 202, 35);
    grid-column: 1/4;
    grid-row: 5;
}